body {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: black; /*#c5d5c5 */
	color: yellow; /* #003333 */
	height: 150px;
}

h1 {
	position: relative;
	top: 60px;
	left: 30px;
	display: inline;
	font-family: 'Fredericka the Great', cursive;
	font-weight: 400;
}
#toppic {
	float: right;
}

#actionHeader {
	background-color: #f0f0f0;
}

#line {
    background-color: gray;
    height: 2px;
}

#content {
	background-color: white;
	padding: 10px;
}
#navigation {
	background-color: #f0f0f0;
	width: 180px;
	float: left;
	/*padding: 5px;*/
}
.navigationList {
	list-style-type: none;
	padding: 5px;
}


#main {
	background-color: #CCCCFF;
	width: 600px;
	float: right;
	display: inline-table;
}
.clEmailRow {
	display: table-row;
	border-collapse: collapse;
	width: 100%;
	float: left;

}
.clBody {
	display: none;
	padding: 20px;
}
.clSender, .clSubject, .clDate {
	display: table-cell;
	overflow: hidden;
	/*float: left;*/
	padding: 5px;
}
.clSender {
	/*background-color: yellow;*/
	width: 150px;
}
.clSubject {
	width: 300px;
	color: black;
}
.clDate {
	/*background-color: lightblue;*/
	width: 150px;
}

#footer {
	background-color: #f0f0f0;
	clear: both;
	text-align: center;
}
