body {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}

table {
	width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;    
}
#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: black; /*#c5d5c5 */
	color: yellow; /* #003333 */
	height: 150px;
}
/* #logo {
	position: absolute;
	width: 100px;
	height: 74px;
} */
h1 {
	position: relative;
	top: 60px;
	left: 30px;
	display: inline;
	font-family: 'Fredericka the Great', cursive;
	font-weight: 400;
}
#toppic {
	float: right;
}


#actionHeader {
	background-color: #f0f0f0;
}

#line {
    background-color: gray;
    height: 2px;
}


#content {
	background-color: white;
	padding: 10px;
}
#nav {
	background-color: #f0f0f0;
	width: 180px;
	float: left;
	/*padding: 5px;*/
}
.navigationList {
	list-style-type: none;
	padding: 5px;
}


#main {
	background-color: #CCCCFF;
	width: 600px;
	float: right;
	display: inline-table;
}

.clEmailRow {
	border-top: 2px dotted gray;
	display: table-row;
	border-collapse: collapse;

}
.clSender, .clSubject, .clDate {
	display: table-cell;
	overflow: hidden;
	/*float: left;*/
	padding: 5px;
}
.clSender {
	background-color: yellow;
	max-width: 150px;
}
.clSubject {
	max-width: 300px;
}
.clDate {
	background-color: lightblue;
	max-width: 150px;
}

#footer {
	background-color: #f0f0f0;
	clear: both;
	text-align: center;
}
